.App {
  height: 100vh;
  padding-top: 10px;
  background-color: #ddddec;
  font-family: Lato, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.conetenedor-calculadora {
  width: 400px;
  height: 600px;
  padding: 14px;
  background-color: #a6a9ad;
  border-radius: 20px;
  border: 5px solid rgb(52, 50, 50);
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}


footer{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.enlaces {
  font-size: 30px;
}

.enlaces a i {
  padding: 10px;
  color: black;
}

.enlaces a i:hover{
  transition: all ease 0.3s;
  color: blue;
  font-size: 35px;
}

@media (max-width:950px) {

  .conetenedor-calculadora {
    width: 375px;
    height:500px ;
  }

  .container-botones {
    padding-top: 5px;
    margin-left: 20px;
    height: 300px;
    width: 330px;    
  }
}